@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<br />

<address>
    <h3>Address</h3>
    Rezervorului 433F6<br />
    Corunca 547367<br />
    Mures, Romania<br />

    <h3>Phone:</h3>
    +40 265 311 829<br />
    +40 365 402 944<br />
    +40 365 882 084(fax)<br />
</address>

<h3>Email:</h3>
<address>
    <strong>Info:</strong>   <a href="mailto:info@lynxsolutions.eu">info@lynxsolutions.eu</a><br />
    <strong>Jobs:</strong> <a href="mailto:	jobs@lynxsolutions.eu">jobs@lynxsolutions.eu</a>
</address>

<br />